.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;

    position: absolute;
    height: 366px;
    left: 72px;
    right: 73px;
    top: 132px;
}

.textSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: static;
    width: 720px;
    height: 267px;
    left: 661px;
    top: 49.5px;
}