.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;

    position: absolute;
    height: 500px;
    left: 200px;
    right: 200px;
    top: 132px;
}

.textSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: static;
    width: 720px;
    height: 267px;
    left: 661px;
    top: 49.5px;
}

.subtitle {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 29px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    
    color: #000000;
}

.subtitleText {
    margin-top: 10px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 20px;

    color: #424242;
}