
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 24px;

    position: absolute;
    height: 65px;
    left: 0px;
    right: 0px;
    top: 0px;

    background: #2E2E2E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.navlogo {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;

    position: static;
    width: 139px;
    height: 49px;
    left: 24px;
    top: 8px;


    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 8px;
}

.navlogo2 {
    position: static;
    width: 119px;
    height: 29px;
    left: 10px;
    top: 10px;

    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 29px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #FFFFFF;
}

.navbar-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;

    position: static;
    width: 396px;
    height: 43px;
    left: 1106px;
    top: 11px;

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 8px;
}

.contact-b1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 7px 10px;

    position: static;
    width: 90px;
    height: 41px;
    left: 306px;
    top: 1px;

    background: #FFFFFF;

    /* Inside Auto Layout */

    flex: none;
    order: 3;
    flex-grow: 0;
    margin: 0px 11px;
}

.nav-list-item-text-1 {
    position: static;
    width: 75px;
    height: 23px;
    left: 10px;
    top: 10px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;

    color: #FFFFFF;


    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
}

.nav-list-item-1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;

    position: static;
    width: 95px;
    height: 43px;
    left: 200px;
    top: 0px;


    /* Inside Auto Layout */

    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 0px 11px;
}

.nav-list-item-2 {
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 10px;

position: static;
width: 104px;
height: 43px;
left: 85px;
top: 0px;


/* Inside Auto Layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 0px 11px;
}

.nav-list-item-3 {
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 10px;

position: static;
width: 74px;
height: 43px;
left: 0px;
top: 0px;


/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 11px;
}